/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed ;
}

body{
    overflow: hidden;
    height: 100vh;
}

img{
    max-width: 100%;
}

/* col */

.col-lg-2{
    width: calc((100%/12)*2);
}

/* main */

.top{
    height: calc(100% - 90px);
    display: flex;
}

/* main sidebar */

#sidebar{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;

    @media (max-width: 600px){
        width: 50px;
        align-items: center;
    }
}

#logo{
    padding: 1rem;
    img{
        width: 80%;
    }

    img:last-child{
        display: none;
    }

    @media (max-width: 600px){
        padding: 0.5rem;

        img{
            width: 100%;
        }

        img:first-child{
            display: none;
        }

        img:last-child{
            display: inline-block;
        }
    }
    
}

#nav{
    padding: 1rem 1rem;

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
        
        li{
            display: flex;

            i{
                width: 20px;
                margin-right: 0.25rem;
            }

            a{
                text-decoration: none;
            }
        }
    }
    
    @media (max-width: 600px){
        padding: 0rem;
        width: 100%;

        li{
            width: 100%;
        }

        li a{
            display: none;
        }
    }
}

#playlist{
    padding: 1rem;

    #create_playlist{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
        
        .add_box{
            width: 39px;
            height: 39px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .name_playlist{
        padding: 0.5rem 0;
    }
}

/* main content */

#content{
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;

    @media (max-width: 600px){
        width: calc(100% - 50px);
    }
}

.top_content{
    height: 90px;
}

.row{
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .songs{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;


        .card_song{
            padding: 1rem;
        
            .box{
                aspect-ratio: 1;
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }
}

.circle{
    border-radius: 50%;
}

/* responsive col */

@media screen and (max-width: 1100px) {

    .col-md-3{
        width: calc((100%/12)*3);
    }

}

@media screen and (max-width: 700px) {
    
    .col-sm-6{
        width: calc((100%/12)*6);
    }
    
}


/* control bar */

.bottom{
    height: 90px;
}


/* color */
:root{
    --cl-line_hover: #ADFF2F;   

   /* sidebar */
   --bg-sidebar: #000000;
   --cl-icon_hover:  #D2D2D2;
   --cl-icon_unhover: #BFBFBF;
   --txt_cl-hover: #FFFFFF;
   --txt_cl-unhover: #717171;
   
   /* top */
   --txt_cl-primary: #FFFFFF;
   --txt_cl-secondary: #7D7F84;
   --bg-main: #141922;
   --bg-top_bar: #080B12;

   /* bottom */
   --cl-icon_primary: #FFFFFF;
   --cl-icon_secondary: #757575;
   --bg-bottom: #282828; 
}
/* #endregion common */

/* #region debug */
    .debug{
        #sidebar{
            background-color: green;
        }

        #content{
            background-color: blue;
        }

        .bottom{
            background-color: red ;
        
        }

        .top_content{
            background-color: orange;
        }

        .box{
            background-color: pink;
        }

    }
/* #endregion debug */
